<meta charset="UTF-8">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta content="telephone=no,email=no" name="format-detection">
<meta content="maximum-dpr=1" name="flexible" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<link rel="stylesheet" th:href="@{/static/css/mui.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/reset.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/common.css}"/>
<script th:inline="javascript">
var ctx=[[${_PATH}]];
</script>