<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="link">
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
           <div th:include="top"></div>
           <div th:include="left"></div>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">管理中心</h1>
                </div>
            </div>
            <div class="row">
                 
            </div>
        </div>
    </div>
    
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/metisMenu/metisMenu.min.js"></script>
    <script src="/static/dist/js/sb-admin-2.js"></script>

</body>
</html>
