<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="link">
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
           <div th:include="top"></div>
           <div th:include="left"></div>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">个人中心</h1>
                </div>
            </div>
            <div class="row">
                 <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">我的基本信息
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab">基本信息</a>
                                </li>
                                <li><a href="#profile" data-toggle="tab">我的角色</a>
                                </li>
                                <li><a href="#messages" data-toggle="tab">我的权限</a>
                                </li>
                                <li><a href="#settings" data-toggle="tab">个人说明</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="home">
                                    <h4></h4>
                                    <p>账号：<span  th:text="${obj.loginName}"></span></p>
                                    <p>名字：<span  th:text="${obj.userName}"></span></p>
                                    <p>注册时间：<span  th:text="${#dates.format(obj.createTime,'yyyy年MM月dd日  HH:mm:ss')}"></span></p>
                                </div>
                                <div class="tab-pane fade" id="profile">
                                    <h4></h4>
                                    <p th:text="${obj.role.name}"></p>
                                </div>
                                <div class="tab-pane fade" id="messages">
                                    <h4></h4>
                                    <p th:each="rm:${obj.role.roleMenu}" th:text="${rm}"></p>
                                </div>
                                <div class="tab-pane fade" id="settings">
                                    <h4></h4>
                                    <p th:text="${obj.remark}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    
</body>
</html>
