<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>商户运营平台</title>
<link rel="icon" type="image/x-icon" th:href="@{/static/images/favicon.ico}">
<link th:href="@{/static/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/static/metisMenu/metisMenu.min.css}" rel="stylesheet">
<link th:href="@{/static/dist/css/sb-admin-2.css}" rel="stylesheet">
<link th:href="@{/static/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/static/toastr/toastr.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/static/admin/table-center.css}" rel="stylesheet" type="text/css">
<link th:href="@{/static/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}" rel="stylesheet">
<link th:href="@{/static/bootstrap-dialog/css/bootstrap-dialog.min.css}" rel="stylesheet">
<link th:href="@{/static/admin/style.css}" rel="stylesheet">
<script th:src="@{/static/jquery/jquery.min.js}"></script>
<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/metisMenu/metisMenu.min.js}"></script>
<script th:src="@{/static/dist/js/sb-admin-2.js}"></script>
<script th:src="@{/static/toastr/toastr.min.js}"></script>
<script th:inline="javascript">
var ctx=[[${_PATH}]];
</script>
<div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-labelledby="settingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="settingModalLabel">设置密码</h4>
            </div>
            <div class="modal-body">
                <form class="" role="form"  method="post" id="settingForm">
					<div class="form-group">
				    	<label>帐号</label>
						<input type="text" class="form-control" th:value="${session.sessionToken.loginName}" disabled>
					</div>
					<div class="form-group">
				    	<label>原始密码</label>
						<input type="password" class="form-control" name="password" id="password" maxlength="16">
					</div>
					<div class="form-group">
				    	<label>新密码</label>
						<input type="password" class="form-control" name="password1" id="password1" maxlength="16">
					</div>
					<div class="form-group">
				    	<label>确认密码</label>
						<input type="password" class="form-control" name="password2" id="password2" maxlength="16">
					</div>
	            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="saveSettingBtn">保存</button>
            </div>
        </div>
    </div>
</div>