<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">l>
	<head th:include="link">
        <title>授权成功</title>
	</head>
	<body class="">
		<div class="m-box-def p011 f-tac f-bgc-fff">
			<img src="img/icon-succ.png" class="m-img icon-sqsucc"/>
			<div class="m-tit">授权成功</div>
			<button type="button" class="m-btn m-btn-feda00 f-mt-91" >开始点餐</button>
		</div>
		
		<script type="text/javascript" th:src="@{/static/js/jquery-1.8.3.min.js}"></script>
		<script type="text/javascript">
		   $(function(){
			   $(".m-btn").click(function(){
				   location.href=ctx+'/goods/index?pt=&ct=';
			   });
		   })
		</script>
	</body>
</html>