<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="link">
    <link href="/static/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div th:include="top"></div>
        <div th:include="left"></div>
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <ol class="breadcrumb">
                        <li><strong><span style="color: #27a0d7">分类列表</span></strong></li>
                    </ol>
                    <div class="form-group" style="margin-left: 20px">
                        <button type="button" class="btn btn-primary" id="backBtn">返回</button>
                        <button type="button" class="btn btn-primary" id="addBtn">新增菜品分类</button>
                    </div>
                    <div class="container" style="width: 100%">
                        <table id="dataTable"></table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">编辑分类</h4>
                    </div>
                    <div class="modal-body">
                        <form class="" role="form" method="post" id="editForm">
                            <div class="form-group">
                                <label>分类名</label>
                                <input type="text" class="form-control" name="name" id="name"
                                       placeholder="分类名:如湘菜、川菜、粤菜等" maxlength="20">
                            </div>
                            <div class="form-group">
                                <label>优先级</label>
                                <input type="text" class="form-control" name="priority" id="priority" maxlength="5"
                                       placeholder="请输入1-100">
                            </div>

                            <div class="form-group">
                                <label>所属分类</label>
                                <select class="form-control" name="parentId" id="parentId">
                                    <option value="-1">无</option>
                                    <option th:each="category:${parentList}"
                                            th:value="${category.id}"
                                            th:text="${category.name}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>备注</label>
                                <textarea class="form-control" rows="3" name="remark" id="remark"></textarea>
                            </div>
                            <input type="reset" style="display:none">
                            <input type="hidden" name="id" id="categoryId">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="commitBtn">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/metisMenu/metisMenu.min.js"></script>
<script src="/static/dist/js/sb-admin-2.js"></script>
<script src="/static/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/static/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/admin/bootstrptableSetting.js"></script>

<script src="/static/toastr/toastr.confirm.js"></script>
<script src="/static/admin/goodsCategory/list.js"></script>
<script src="/static/bootstrap-dialog/js/bootstrap-dialog.min.js"></script>

<script>

    $(function () {
        var dataTable = null;
        $("#backBtn").click(function () {
            location.href = '/goods';
        });
        $("#addBtn").click(function () {
            $("input[type=reset]").trigger("click");
            $("#parentId *").show();
            $("#categoryId").val("");
            $("#myModalLabel").text("新增分类");
            $("#myModal").modal("show");
//            location.href = '/goods/category/edit';
        });
        window.operateEvents = {
            "click #edit": function (e, value, row, index) {
                $("#myModalLabel").text("编辑分类");
                $("#categoryId").val(row.id);
                $("#name").val(row.name);
                $("#priority").val(row.priority);
                $("#remark").val(row.remark);
                $("#parentId *").show();
                $("#parentId option[value='" + row.id + "']").hide();
                $("#parentId").val(row.parentId);
                $("#myModal").modal("show");
                return false;
            },
            "click #delete": function (e, value, row, index) {
                if (row.children.length >0) {
                    toastr.warning('请先删除子分类');
                    return false;
                }
                BootstrapDialog.confirm({
                    title : '确认',
                    message : '是否确认删除?  tips:分类下存在商品时将无法删除',
                    type : BootstrapDialog.TYPE_INFO, // <-- Default value is
                    // BootstrapDialog.TYPE_PRIMARY
                    closable : true, // <-- Default value is false，点击对话框以外的页面内容可关闭
                    draggable : true, // <-- Default value is false，可拖拽
                    btnCancelLabel : '取消', // <-- Default value is 'Cancel',
                    btnOKLabel : '确定', // <-- Default value is 'OK',
                    btnOKClass : 'btn-info', // <-- If you didn't specify it, dialog type
                    size : BootstrapDialog.SIZE_SMALL,
                    // 对话框关闭的时候执行方法
                    callback : function(result) {
                        // 点击确定按钮时，result为true
                        if (result) {
                            location.href = 'category/remove?id=' + row.id;
                        }
                    }
                });
                return false;
            }
        };
        var url = "/goods/category/listData.do?random=" + Math.random();
        var columns = [
            {
                field: '', title: '序号', formatter: function (value, row, index) {
                return index + 1;
            }
            },
            {field: 'name', title: '分类名称',},
            {field: 'priority', title: '优先级',},
            {field: 'parentName', title: '所属分类',},
            {field: 'remark', title: '备注',},
            {
                field: 'createTime', title: '创建时间', formatter: function (value, row, index) {
                return new Date(value).Format('yyyy-MM-dd hh:mm:ss');
            }
            },
            {field: 'opers', title: '操作', events: operateEvents, formatter: operateFormatter}]

        function operateFormatter(value, row, index) {
            return "<i class=\"fa fa-edit fa-lg\" id='edit'></i>" +" | "+
                "<i class=\"fa fa-trash-o fa-lg\" id='delete'></i>";
        }

        loadTable(url, columns, function (options) {
            dataTable = $('#dataTable').bootstrapTable(options);
        });
    })
    $("#commitBtn").click(function () {
        var priority = $.trim($("#priority").val());
        var name = $.trim($("#name").val());
        if (name == "") {
            toastr.warning('请输入分类名称');
            return false;
        }
        if (isNaN(priority)) {
            toastr.error('请输入正确的优先级');
            return false;
        }
        $.ajax({
            url: '/goods/category/save.do',
            type: 'POST',
            data: $("#editForm").serialize(),
            success: function (rsp) {
                if (rsp.status == 200) {
                    toastr.success('保存成功');
                    $("#myModal").modal("hide");
                    $('#dataTable').bootstrapTable('refresh');
                } else {
                    toastr.warning('服务器繁忙，请稍后再试');
                }
            }
        });
    })
</script>
</body>
</html>
