html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left;font-weight:normal}
fieldset,img,iframe,abbr{border:0}
i,cite,em,var,address,dfn{font-style:normal}
[hidefocus],summary{outline:0}
li{list-style:none}
h1,h2,h3,h4,h5,h6,small{font-size:100%}
sup,sub{font-size:83%}
pre,code,kbd,samp{font-family:inherit}
q:before,q:after{content:none}
textarea{overflow:auto;resize:none}
label,summary{cursor:default}
a,button{cursor:pointer}
del,ins,u,s,a,a:hover{text-decoration:none}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 \5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;color:#333;outline:0}
html{    min-height: 100%;}
html,body{zoom:1;*height:auto;     -webkit-tap-highlight-color: transparent;}
body{background-color:#f5f5f5;color:#999;overflow-x:hidden;-webkit-overflow-scrolling:touch;min-width:320px;max-width:750px;margin:0 auto}
input:-webkit-autofill,textarea:-webkit-autofill,select:-webkit-autofill{background-color:rgba(255,255,255,0);background-image:none;-webkit-box-shadow:0 0 0px 1000px rgba(255,255,255,0.01) inset;/*去chrome保存密码后黄色背景*/
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{background:transparent}
a,a:hover{color:#333;overflow:hidden}
img{vertical-align:top}
.none{display:none !important}
[v-cloak]{visibility:hidden;position: absolute;height:100%;    width: 100%;}
[v-cloak]::before{    content: 'Loading';
    position: absolute;
    font-size: 30px;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #999;
    z-index: 9;
    -webkit-transform: translateY(-50%);transform: translateY(-50%);
    display: block;
    visibility: visible;}
.z999{z-index:999}
input[type="button"],input[type="submit"],input[type="reset"],.textarea{-webkit-appearance:none;border-radius:0}
input{margin-bottom: 0 !important;}
[disabled]{background-color:#ccc!important;cursor:no-drop!important}
img{max-width:100%}
a img{width:100%;height:100%}
.m-tit,.m-btn{font-family:PingFangSC-Regular;font-size:14px}
.m-txt,.font-light,.form-list label,.m-inp,.m-text{font-family:PingFangSC-Light; vertical-align: top;}
.m-btn{width:100%;min-height: 40px;text-align: center;display: inline-block;vertical-align:top;margin:0 auto;font-size: 16px;}
.fix{position: fixed;max-width: 750px;z-index: 999;}
/* function */
.f-cb:after,.f-cbli li:after,.g-w1190:after,.m-hd:after,.m-bd:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:"."}
.f-cb,.f-cbli li,.g-w1190,.m-hd,.m-bd{zoom:1}
.f-ib{display:inline-block;*display:inline;*zoom:1}
.f-dn{display:none !important}
.f-db{display:block!important;visibility:visible !important}
.f-fl,.f-li>li{float:left}
.f-fr{float:right !important}
.f-pa{position:absolute}
.f-pr{position:relative}
.f-prz{position:relative;zoom:1}
.f-oh{overflow:hidden}
.f-ff0{font-family:arial,\5b8b\4f53}
.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53}
.f-fs1{font-size:12px}
.f-fs2{font-size:14px}
.f-fwn{font-weight:normal}
.f-fwb{font-weight:bold}
.f-tal{text-align:left}
.f-tac{text-align:center}
.f-tar{text-align:right}
.f-taj{text-align:justify;text-justify:inter-ideograph}
.f-vam,.f-vama *{vertical-align:middle}
.f-wsn{word-wrap:normal;white-space:nowrap}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all}
.f-ti{overflow:hidden;text-indent:-30000px}
.f-ti2{text-indent:2em}
.f-lhn{line-height:normal}
.f-tdu,.f-tdu:hover{text-decoration:underline}
.f-tdn,.f-tdn:hover{text-decoration:none}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis}
.f-csp{cursor:pointer}
.f-csd{cursor:default}
.f-csh{cursor:help}
.f-csm{cursor:move}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
.f-err{border:1px solid #54b49e !important}
.f-bon{border:1px solid #fc613e !important}
.f-fli img{float:left}
.f-place{position:relative}
.f-pf{position:fixed;top:0;_position:absolute;_top:expression(eval(document.documentElement.scrollTop));z-index:99}
/*颜色 6位格式*/
.f-fc613e{color:#fc613e}
.f-48A309{color:#48A309}
.f-bb0{border-bottom:0!important}
.f-br0{border-right:0!important}
.f-mr0{margin-right:0!important}
.f-mt_20{margin-top:-20px!important}
.f-mt_10{margin-top:-10px!important}
.f-mt10{margin-top:10px!important}
.f-mt15{margin-top:15px!important}
.f-mt20{margin-top:20px!important}
.f-mt30{margin-top:30px!important}
.f-mt60{margin-top:60px!important}
.f-pb0{padding-bottom:0px!important}
.f-p015{padding:0 15px!important}
.f-p010{padding:0 10px!important}
a .a-img{max-width:100%}
a{color:#999;vertical-align:top}
a,.sel-box,.i-close{-webkit-transition:.3s;transition:.3s}
.m-c2 .u-img,.m-c2 .m-hd,.m-c2 .mt-hd,.m-c2>.m-c-hd{float:left;margin-right:8px}
.m-c2 .u-txt,.m-c2 .m-bd,.m-c2 .mt-bd,.m-c2>.m-c-bd{overflow:hidden}
/*箭头*/
.u-arrows{position:absolute;width:0;display:inline-block;font-size:0;height:0;line-height:0;border-width:6px}
.u-arrows_1{border-color:transparent #e70012 #e70012 transparent;border-style:dashed solid solid dashed;left:-4px;bottom:0;border-width:3px}
.u-a-t{border-color:#a6a6a6 transparent transparent;border-style:solid dashed dashed;right:10px;top:20px}
.u-a-r{border-color:transparent #a6a6a6 transparent transparent;border-style:dashed solid dashed dashed}
.u-a-b{border-color:transparent transparent #a6a6a6;border-style:dashed dashed solid;top:8px;right:10px}
.u-a-l{border-color:transparent transparent transparent #a6a6a6;border-style:dashed dashed dashed solid}
.u-but{padding:0;border:0;cursor:pointer;font-family:\5FAE\8F6F\96C5\9ED1;display:inline-block;width:100%;text-align:center}
.u-img img{width:100%;height:100%}
.g-fluid{width:100%}
.g-w1082{width:1082px;margin:0 auto}
.g-w1400{max-width:1400px;width:95%;margin:0 auto}
.g-h100{height:100%}
.li-c5>li{float:left;width:20%}
.li-c4>li{float:left;width:25%}
.li-c3>li{float:left;width:33.3%}
.li-c2>li{float:left;width:50%}
.f-hd-list{position:relative;cursor:pointer}
.f-bb-E7E7E7{border-bottom:1px solid rgba(231,231,231,.6)}
svg.icon{width:18px;height:18px;fill:currentColor;cursor:pointer}
.m-fix-b{position:fixed;bottom:0;width:100%}
.m-foot{max-width:750px}
.m-hd-list{position:relative}
.f-h50{height:70px}

