<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="link">
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
           <div th:include="top"></div>
           <div th:include="left"></div>
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" th:if="${obj!=null}">编辑用户</h1>
                </div>
            </div>
            <div class="panel-body">
                  <div class="row">
					<div class="col-lg-6">
					    <form class="" role="form"  method="post" id="editForm" th:object="${obj}">
							<div class="form-group">
						    	<label>帐号</label>
						    	<input type="hidden" name="id" th:field="*{id}">
								<input type="text" class="form-control" name="loginName" id="loginName" th:field="*{loginName}" maxlength="20">
							</div>
							<div class="form-group">
						    	<label>用户名</label>
								<input type="password" class="form-control" name="userName" id="userName" th:field="*{userName}" maxlength="16">
							</div>
							<div class="form-group">
						    	<label>初始密码</label>
								<input type="password" class="form-control" name="password" id="password" th:field="*{password}" maxlength="16">
							</div>
							<div class="form-group">
						    	<label>所属角色</label>
								<select class="form-control" name="roleId" id="roleId">
                                     <option th:each="role:${roleList}"
                                             th:value="${role.id}" 
											 th:text="${role.name}"
											 th:selected="(${obj.role.id} == ${role.id})"></option>
                                 </select>
							</div>
							<div class="form-group">
						    	<label>类型</label>
								<select class="form-control" name="type" id="type">
                                     <option value="terminal" th:selected="(${obj.type} == 'terminal')">终端接单</option>
                                     <option value="manager" th:selected="(${obj.type} == 'manager')">后台管理</option>
                                 </select>
							</div>
							<div class="form-group">
						    	<label>备注</label>
								<textarea class="form-control" rows="3" name="remark" id="remark" th:field="*{remark}"></textarea>
							</div>
				            <button type="button" class="btn btn-primary" id="saveBtn">保存</button>
			            </form>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/metisMenu/metisMenu.min.js"></script>
    <script src="/static/dist/js/sb-admin-2.js"></script>
    <script src="/static/toastr/toastr.min.js"></script>
    <script>
       $(function(){
    	   $("#saveBtn").click(function(){
    		   var loginName=$.trim($("#loginName").val());
    		   var password=$.trim($("#password").val());
    		   if(loginName==""){
    			   toastr.warning('请填写登录帐号');
    			   return false;
    		   }else if(password==""){
    			   toastr.warning('请填写帐号密码');
    			   return false;
    		   }
    		   $.ajax({
    			   url:'/account/save.do',
    			   type:'POST',
    			   data:$("#editForm").serialize(),
    			   success:function(rsp){
    				   if(rsp.status==200){
    					   toastr.success('保存成功');
    					   location.href='/account';
    				   }else{
    					   toastr.warning('服务器繁忙，请稍后再试');
    				   }
    			   }
    		   });
    	   });
       })
    </script>

</body>
</html>
