<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="link">

<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div th:include="top"></div>
        <div th:include="left"></div>
    </nav>

    <div id="page-wrapper">
        <div class="panel-body" th:if="${parentList.size()>0}">
            <div class="row">
                <form class="" role="form" method="post" id="editForm">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>菜品名</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="菜品名"
                                   maxlength="16">
                        </div>
                        <div class="form-group">
                            <label>所属分类</label>
                            <select class="form-control" name="parentId" id="parentId">
                                <option th:each="category:${parentList}"
                                        th:value="${category.id}"
                                        th:text="${category.name}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>价格</label>
                            <input type="text" class="form-control" name="amount" id="amount" maxlength="10">
                        </div>

                        <div class="form-group">
                            <label>描述</label>
                            <textarea class="form-control" rows="3" name="remark" id="remark"></textarea>
                        </div>
                        <div class="form-group" data-toggle="buttons">
                            <label>规格: </label>
                            <label th:each="spec:${specList}" class="btn btn-warning">
                                <input type="checkbox"
                                       name="specIds[]"
                                       th:value="${spec.id}"
                                       th:text="${spec.name}">
                            </label>
                        </div>
                        <div class="form-group" data-toggle="buttons">
                            <label>辅料: </label>
                            <label th:each="aux:${auxList}" class="btn btn-warning">
                                <input type="checkbox"
                                       name="auxs[]"
                                       th:value="${aux.id}"
                                       th:text="${aux.name}">
                            </label>
                        </div>
                    </div>
                    <input type="hidden" name="pic" id="pic">
                </form>

            </div>
            <div class="btn-group col-md-offset-3 col-lg-6" >
                <button class="btn btn-primary col-lg-6" id="backBtn">返回</button>
                <button type="button" class="btn btn-primary col-lg-6" id="saveBtn">保存</button>
            </div>
        </div>
        <div th:unless="${parentList.size()>0}">
            <h2>请先添加菜品分类</h2>
        </div>
    </div>
</div>

<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/jquery/jquery.upload.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/metisMenu/metisMenu.min.js"></script>
<script src="/static/dist/js/sb-admin-2.js"></script>
<script src="/static/toastr/toastr.min.js"></script>
<script>
    $("#backBtn").click(function () {
        location.href = '/goods';
    });
    $(function () {
        $("#saveBtn").click(function () {
            var name = $.trim($("#name").val());
            var amount = $.trim($("#amount").val());
            if (name == "") {
                toastr.warning('请填写菜名');
                return false;
            } else if (amount == "") {
                toastr.warning('请填写价格');
                return false;
            }
            if (isNaN(amount)) {
                toastr.error('请输入正确的价格');
                return false;
            }
            $.ajax({
                url: '/goods/save.do',
                type: 'POST',
                data: $("#editForm").serialize(),
                success: function (rsp) {
                    if (rsp.status == 200) {
                        toastr.success('保存成功');
                        location.href = '/goods';
                    } else {
                        toastr.warning('服务器繁忙，请稍后再试');
                    }
                }
            });
        });

    })
</script>

</body>
</html>
