<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="link">
<link th:href="@{/static/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div th:include="top"></div>
        <div th:include="left"></div>
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">菜品管理中心</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <ol class="breadcrumb">
                        <li><strong><span style="color: #27a0d7">菜品列表</span></strong></li>
                    </ol>
                    <div class="container" style="width: 100%">
                        <div id="toolbar" class="btn-group">
                            <button type="button" class="btn btn-info btn-sm rightSize" id="addBtn">
                                <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> 新增菜品
                            </button>

                            <button style="margin-left: 10px" type="button" class="btn btn-info btn-sm rightSize"
                                    id="categoryBtn">
                                <i class="glyphicon glyphicon-tags" aria-hidden="true"></i> 菜品分类
                            </button>

                            <button style="margin-left: 10px" type="button" class="btn btn-info btn-sm rightSize"
                                    id="specBtn">
                                <i class="glyphicon glyphicon-stats" aria-hidden="true"></i> 菜品规格
                            </button>

                            <button style="margin-left: 10px" type="button" class="btn btn-info btn-sm rightSize"
                                    id="auxBtn">
                                <i class="glyphicon glyphicon-cutlery" aria-hidden="true"></i> 菜品辅料
                            </button>
                        </div>
                        <table id="dataTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <script th:src="@{/static/bootstrap-table/bootstrap-table.min.js}"></script>
 <script th:src="@{/static/bootstrap-table/bootstrap-table-zh-CN.min.js}"></script>
 <script th:src="@{/static/admin/bootstrptableSetting.js}"></script>
 <script th:src="@{/static/toastr/toastr.confirm.js}"></script>
 <script th:src="@{/static/admin/goods/list.js}"></script>
 <script th:src="@{/static/bootstrap-dialog/js/bootstrap-dialog.min.js}"></script>
<script>
    var dataTable = null;
    $("#addBtn").click(function () {
        location.href = '/goods/edit';
    });
    $("#categoryBtn").click(function () {
        location.href = '/goods/category';
    });
    $("#specBtn").click(function () {
        location.href = '/goods/spec';
    });
    $("#auxBtn").click(function () {
        location.href = '/goods/aux';
    });
    window.operateEvents = {
        "click #edit": function (e, value, row, index) {
            location.href = '/goods/edit?id=' + row.id;
            return false;
        }}
    var url = "/goods/listData.do?random=" + Math.random();
    var columns = [
        {
            field: '', title: '菜品', formatter: function (value, row, index) {
            return '<img src="/common/img/' + row.pic + '/0/" width=80px height=80px>';
        }
        },
        {field: 'name', title: '',},
        {field: 'amount', title: '价格',},
        {field: 'categoryName', title: '分类',},
        {field: 'specsName', title: '规格',},
        {
            field: 'createTime', title: '发布时间', formatter: function (value, row, index) {
            return new Date(value).Format('yyyy-MM-dd hh:mm:ss');
        }
        },
        {field: 'opers', title: '操作', events: operateEvents, formatter: operateFormatter}]

    function operateFormatter(value, row, index) {
        return "<i class=\"fa fa-edit fa-lg\" id='edit'></i>";
    }

    loadTable(url, columns, function (options) {
        dataTable = $('#dataTable').bootstrapTable(options);
    });

</script>

</body>
</html>
