<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="link">
<link th:href="@{/static/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div th:include="top"></div>
        <div th:include="left"></div>
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <ol class="breadcrumb">
                        <li><strong><span style="color: #27a0d7">辅料列表</span></strong></li>
                    </ol>
                    <div class="form-group" style="margin-left: 20px">
                        <button type="button" class="btn btn-primary" id="backBtn">返回</button>
                        <button type="button" class="btn btn-primary" id="addBtn">新增辅料</button>
                    </div>
                    <div class="container" style="width: 100%">
                        <table id="dataTable"></table>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">编辑辅料</h4>
                        </div>
                        <div class="modal-body">
                            <form class="" role="form" method="post" id="editForm">
                                <div class="form-group">
                                    <label>辅料名</label>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="辅料名"
                                           maxlength="16">
                                </div>
                                <div class="form-group">
                                    <label>价格</label>
                                    <input type="text" class="form-control" name="amount" id="amount" value="0"
                                           maxlength="8">
                                </div>
                                <div class="form-group">
                                    <label>说明</label>
                                    <textarea class="form-control" rows="3" name="remark" id="remark"></textarea>
                                </div>
                                <input type="reset" style="display:none">
                                <input type="hidden" name="id" id="auxId">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" id="commitBtn">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <script th:src="@{/static/bootstrap-table/bootstrap-table.min.js}"></script>
 <script th:src="@{/static/bootstrap-table/bootstrap-table-zh-CN.min.js}"></script>
 <script th:src="@{/static/admin/bootstrptableSetting.js}"></script>
 <script th:src="@{/static/toastr/toastr.confirm.js}"></script>
 <script th:src="@{/static/bootstrap-dialog/js/bootstrap-dialog.min.js}"></script>
 <script th:src="@{/static/toastr/toastr.min.js}"></script>
<script>
    var dataTable = null;
    $("#addBtn").click(function () {
        $("input[type=reset]").trigger("click");
        $("#myModalLabel").text("新增辅料");
        $("#auxId").val("");
        $("#myModal").modal("show");
    });
    $("#backBtn").click(function () {
        location.href = ctx+'/goods';
    });
    window.operateEvents = {
        "click #edit": function (e, value, row, index) {
            $("#myModalLabel").text("修改辅料");
            $("#name").val(row.name);
            $("#amount").val(row.amount);
            $("#remark").val(row.remark);
            $("#auxId").val(row.id);
            $("#myModal").modal("show");
            return false;
        },
        "click #delete": function (e, value, row, index) {
            BootstrapDialog.confirm({
                title : '是否确认删除? ',
                message : '删除后无法恢复,请谨慎选择',
                type : BootstrapDialog.TYPE_INFO, // <-- Default value is
                // BootstrapDialog.TYPE_PRIMARY
                closable : true, // <-- Default value is false，点击对话框以外的页面内容可关闭
                draggable : true, // <-- Default value is false，可拖拽
                btnCancelLabel : '取消', // <-- Default value is 'Cancel',
                btnOKLabel : '确定', // <-- Default value is 'OK',
                btnOKClass : 'btn-info', // <-- If you didn't specify it, dialog type
                size : BootstrapDialog.SIZE_SMALL,
                // 对话框关闭的时候执行方法
                callback : function(result) {
                    // 点击确定按钮时，result为true
                    if (result) {
                        location.href = ctx+'/goods/aux/remove?id=' + row.id;
                    }
                }
            });
            return false;
        }
    }
    var url = ctx+"/goods/aux/listData.do?random=" + Math.random();
    var columns = [
        {
            field: '', title: '序号', formatter: function (value, row, index) {
            return index + 1;
        }
        },
        {field: 'name', title: '辅料名',},
        {field: 'amount', title: '价格',},
        {field: 'sales', title: '累计销量',},
        {
            field: 'createTime', title: '创建时间', formatter: function (value, row, index) {
            return new Date(value).Format('yyyy-MM-dd hh:mm:ss');
        }
        },
        {field: 'opers', title: '操作', events: operateEvents, formatter: operateFormatter}]

    function operateFormatter(value, row, index) {
        return "<i class=\"fa fa-edit fa-lg\" id='edit'></i>" +" | "+
            "<i class=\"fa fa-trash-o fa-lg\" id='delete'></i>";
    }

    loadTable(url, columns, function (options) {
        dataTable = $('#dataTable').bootstrapTable(options);
    });

    $("#commitBtn").click(function () {
        var name = $.trim($("#name").val());
        var amount = $.trim($("#amount").val());
        if (name == "") {
            toastr.warning('请输入辅料名');
            return false;
        }
        if (isNaN(amount)) {
            toastr.error('请输入正确的价格');
            return false;
        }
        $.ajax({
            url: ctx+'/goods/aux/save.do',
            type: 'POST',
            data: $("#editForm").serialize(),
            success: function (rsp) {
                if (rsp.status == 200) {
                    toastr.success('保存成功');
                    $("#myModal").modal("hide");
                    $("#dataTable").bootstrapTable('refresh');
                } else {
                    toastr.warning('服务器繁忙，请稍后再试');
                }
            }
        });
    });
</script>

</body>
</html>
