<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="link" th:with="title='结账'"/>
	<body class="m-login">
		<div class="p011 pt15">
			<div class="m-jiezhang">
				<a href="" class="img-back"><img th:src="@{/static/img/icon-back.png}" class="a-img"/></a>
			</div>
			<div class="list-card list-card-7 p010 f-mt15 ">
				<div class="m-hd f-tac">
					<div class="m-tit">桌号<span th:text="${obj.deskNum}"></span></div>
					<div class="m-pri c-ff4035" th:text="${obj.amount}">288.00元</div>
				</div>
				<ul class="m-bd m-bd-1">
					<li><span class="f-fr c-ff4035 m-tit"><span th:text="${count}">6</span>项</span><div class="m-tit">合计</div></li>
					<li><span class="f-fr m-tit"><span class="m-rmb">￥</span><span th:text="${obj.amount}">288.00</span></span><div class="m-tit">消费金额</div></li>
					<li><span class="f-fr c-ff4035 m-tit"><span class="m-rmb">￥</span>0.00</span></span><div class="m-tit">已付金额</div></li>
				</ul>
			</div>
			<div class="line line-3 f-cb"><img th:src="@{/static/img/bg-line.png}" class="a-img "/></div>
			<div class="bb-ras5 f-bgc-fff p010">
				<div class="m-bd-2"><span class="f-fr c-ff4035 m-tit"><span class="m-rmb">￥</span><span th:text="${obj.amount}">270.00</span></span></span><div class="m-tit">应付金额</div></div>
				<div class="box-btn" id="jixu">
					<a class="m-btn m-btn-feda00" >继续点菜</a>
				</div>
			</div>
		</div>
		<div class="p011 f-mt10">
			<div class="list-card list-card-5 p010">
				<div class="m-tit-1 f-bolder">支付方式</div>
				<ul class="m-bd m-bd-3 f-click-par">
					<li class="list-zf f-click-radio on" data-num="1"><span class="icon icon-wx f-fr"></span><img th:src="@{/static/img/icon-wx.png}" class="a-img"/><span class="m-tit">微信支付</span></li>
					<li class="list-zf f-click-radio" data-num="2"><span class="icon icon-alipay f-fr"></span><img th:src="@{/static/img/icon-alipay.png}" class="a-img"/><span class="m-tit">支付宝支付</span></li>
				</ul>
			</div>
			<div class="line line-3 f-cb"><img th:src="@{/static/img/bg-line.png}" class="a-img "/></div>
			<div class="f-bgc-fff box-btn p011 f-pt11 bb-ras5">
				<a class="m-btn m-btn-feda00 m-btn-ff4035" id="pay" th:attr="data=${obj.id}">支付订单</a>
			</div>
			<div class="h20"></div>
		</div>
		
		<script type="text/javascript" th:src="@{/static/js/jquery-1.8.3.min.js}"></script>
		<script type="text/javascript">
		    $(function(){
				$("#pay").click(function(){
					var cid=$(this).attr("data");
					$.ajax({
						url:ctx+'/order/settle/save.do',
						type:'POST',
						data:{cid:cid},
						success:function(rsp){
							if(rsp.status==200){
								toast("结算成功");
								setTimeout(function(){
									location.href=ctx+'/order';
								}, 2000);
							}else{
								toast(rsp.message);
							}
						}
					});
			    });
				$("#jixu").click(function(){
					location.href=ctx+'/goods/index';
				});
			    $(".m-jiezhang").click(function(){
					location.href=history.go(-1);
				});
		    })
		</script>
	</body>
</html>