.m-login{background:url(../img/bg-login.jpg) no-repeat 50% 0;background-size:100% 100%}
.m-logo{width:86px;height:86px}
.m-box-logo{text-align:center;padding-top:94px}
.m-box-logo .m-tit,.m-box-logo .m-txt,.foot-login .m-txt{color:#fff;text-shadow:0 1px 2px rgba(51,51,51,.6)}
.m-box-logo .m-tit{font-size:21px;margin-top:20px}
.m-box-logo .m-txt{font-size:16px;margin-top:20px}
.m-login .foot{bottom:85px}
.foot .m-btn{width:238px;height:41px;line-height:41px}
.foot .m-txt{font-size:9px;color:#fff;margin-top:77px}
.fix-bot{width:100%;bottom:0}
.m-btn-feda00{background:#feda00;color:#3c2904;border-radius:3px;border:0;line-height:41px}

.p011{padding:0 11px}
.f-bgc-fff{background:#fff}
.bb0{border-bottom:0 !important}
.cursor{cursor:pointer}
.f-bgc-000{background:rgba(0,0,0,.8)}
.bg{position:absolute;left:0;top:0;width:100%;height:100%;z-index:0}
.f-pt11{padding-top:11px}
.m-c2-lr>.m-hd{float:right}
.c-ff4035{color:#ff4035 !important}
.icon-shuaxin{width:51px;height:51px}
.icon-del{width:22px;height:22px;margin:2px 12px 4px 0}
.f-scbold{font-family:PingFang-SC-Bold}
.f-bolder{font-weight:bolder}
.pt15{padding-top:15px}
.pt10{padding-top:10px !important}
.p010{padding:0 10px}
.h88{height:88px}
.h50{height:50px}
.h20{height:20px}
.f-pt-5{padding-top:5px!important}
.f-pt-4{padding-top:4px!important}
.line-h10{height:10px;background:#f5f5f5}
.f-mt-1{margin-top:-1px}
.radius0{border-radius:0 !important}
.bb-ras0{border-bottom-left-radius:0;border-bottom-right-radius:0}
.m-btn-ff4035{background:#ff4035;color:#fff}


.m-form,.m-box-yongcan{position:relative;z-index:1}
.m-form li{position: relative;}
.m-form-mob{padding-top:26px}
.m-form-mob .m-inp{background:#2e2e2e;font-family:PingFang-SC-Regular;font-size:15px;color:#fff;padding:0 10px;border:0;margin:0}
.m-form-mob .m-code{  position: absolute;top:0;right:0;  background: #feda00;
    color: #3c2904;cursor: pointer;
    border-radius:0 3px 3px 0;min-width:90px;
    border: 0;width:auto;padding:0 10px}
.f-list-btn{padding-top:21px}

.m-box-yongcan{padding-top:38px}
.img-yongcan{width:141px;height:34px}
.m-box-yongcan .m-tit{color:#fff;padding:24px 0 15px 0}

.item-yongcan{margin-right:-8px}
.item-yongcan .label{/*width:82px;*/width:calc(25% - 8px);height:32px;line-height:30px;margin:0 8px 10px 0;border:1px solid rgba(255,255,255,.8);border-radius:3px;font-family:PingFang-SC-Regular;font-size:14px;color:#fff;display:inline-block;vertical-align:top;float:left;cursor:pointer}
.item-yongcan .label:nth-of-type(4n){margin-right:0}
.item-yongcan .on,.list-kt .m-bd .m-tags.on{background:#feda00;color:#3c2904;border:1px solid #feda00}

.m-select-div{position:relative;margin-top:22px}
.m-select-div:before{content:'';position:absolute;right:12px;top:calc(50% - 3px);background:url(../img/icon-down.png) no-repeat;width:11px;height:6px;background-size:contain}
.m-select-div .m-inp{height:41px;line-height:40px;border:1px solid rgba(255,255,255,.8);border-radius:3px;font-family:PingFang-SC-Regular;padding:0 10px;color:#fff;background:transparent;margin:0;cursor:pointer;font-size:14px}
.m-select-div .m-inp::-webkit-input-placeholder{color:#fff}

.m-btn-diancan{padding-top:67px}
.m-btn-diancan .m-btn{width:258px}



.m-form-shouquan .form-list{border-bottom:1px solid rgba(229,229,229,.8);line-height:50px}
.m-form-shouquan .form-list .m-tit{font-size:15px;color:#333}
.m-form-shouquan .form-list .m-cont{font-size:15px;color:#999;font-family:PingFang-SC-Regular}
.m-form-shouquan .form-list .m-cont .m-inp{height:50px;border:0;text-align:right;font-family:PingFang-SC-Regular;padding-right:0;color:#333;font-size:15px}
.m-form-shouquan .form-list .m-cont .m-inp::-webkit-input-placeholder,.m-form-shouquan .form-list .m-text::-webkit-input-placeholder{color:#999}
.m-form-shouquan .form-list .m-text{border:0;padding:15px 0;font-size:15px;font-family:PingFang-SC-Regular;color:#333;height:140px}
.m-btn-shenqing{padding:21px 11px 84px}

.icon-yjt{background:url(../img/icon-yjt.png) no-repeat;width:6px;height:11px;background-size:contain;margin-left:5px;display:inline-block}


.m-box-def{padding-top:86px}
.m-box-def .m-img{width:100px;height:100px}
.m-box-def .m-tit{padding-top:15px;font-size:18px;color:#333}
.f-mt-91{margin-top:91px;margin-bottom:41px}

.box-keting{padding-top:15px;padding-bottom:10px;background-color:#f5f5f5}
.nav-keting{background:url(../img/img-title_bg.png) no-repeat;height:61px;line-height:61px;border-radius:3px;background-size:100% 100%}
.nav-keting a{display:block;position:relative;font-family:PingFang-SC-Regular;font-size:15px;color:#fff;text-align:center}
.nav-keting a:before{content:'';width:1px;height:20px;position:absolute;right:0;top:calc(50% - 10px);background:#fff}
.nav-keting li:last-child a:before{display:none}

.cont-keting{}
.cont-keting .m-hd .m-tit{position:relative;font-size:16px;line-height:16px;color:#111;padding:17px 0;display:inline-block}
.cont-keting .m-hd .m-tit:before,.cont-keting .m-hd .m-tit:after{content:'';position:absolute;width:6px;height:1px;background:#111;top:calc(50% - 1px)}
.cont-keting .m-hd .m-tit:before{left:-16px}
.cont-keting .m-hd .m-tit:after{right:-16px}

.cont-keting .m-bd .li-c3{margin-right:-10px}
.cont-keting .list{}
.cont-keting .list a{display:block;padding-right:10px}
.cont-keting .list .a-img{width:100%;max-height:111px;border-radius:3px}
.cont-keting .list .m-tit{font-size:15px;line-height:15px;color:#111;padding:12px 0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.cont-keting .list .m-pri{font-size:15px;line-height:15px;color:#ff4035;padding-bottom:15px;display:block;font-family:PingFang-SC-Bold}

.cont-keting-show{position:relative}
.cont-keting-show .img-big{width:100%;max-height:310px}
.img-back,.img-back img{display:block;width:65px;height:30px}
.cont-keting-show .img-back{position:absolute;top:15px;left:11px}
.cont-keting-show .m-tit{font-size:18px;line-height:18px;color:#111;padding-top:21px;padding-bottom:15px;font-family:PingFang-SC-Bold;}


.m-pris{padding-bottom:15px}
.m-pris .m-count{font-size:16px;color:#333}
.m-pris .m-sum{margin-left:10px;line-height:26px;/*border:1px solid #e5e5e5;border-radius:3px;box-sizing:content-box*/}
.m-count span{float:left;line-height:26px}
.m-pris .m-sum .m-del{background:url(../img/img-del.png) no-repeat;width:31px;height:26px;background-size:contain;text-indent:-9999px;cursor:pointer}
.m-pris .m-sum .m-add{background:url(../img/img-add.png) no-repeat;width:31px;height:26px;background-size:contain;text-indent:-9999px;cursor:pointer}
.m-pris .m-sum .m-num{/*background:url(../img/img-num.png) no-repeat;*/width:29px;height:26px;background-size:contain;position:relative;font-size:14px;border:1px solid #e5e5e5;border-width:1px 0}
.m-pris .m-sum .m-num:after{content:'份';position:absolute;right:1px;top:-1px;font-size:14px;color:#333}
.m-pris .m-sum .m-num input{padding:0;border:0;font-size:14px;font-family:PingFang-SC-Regular;color:#333;height:24px;line-height:24px;vertical-align:top}
.m-pris .m-pri{font-size:14px;line-height:14px;color:#ff4035;display:block;font-family:PingFang-SC-Bold}
.m-pris .m-pri .m-num{font-size:21px;line-height:21px}

.m-rmb{font-family:\5fae\8f6f\96c5\9ed1}

.list-kt{font-family:PingFang-SC-Bold;;font-size:15px;color:#111;padding:15px 0}
.list-kt.m-c2 .m-hd{margin-right:10px}
.list-kt.m-c2 .m-bd{overflow:hidden}
.list-kt .m-hd .m-tit{padding:0;font-size:15px;line-height:15px}
.list-kt .m-bd .m-txt{font-size:15px;font-family:PingFang-SC-Regular;line-height:15px;color:#333}
.list-kt-1{padding-bottom:3px}
.list-kt-2 .m-hd .m-tit{line-height:25px}
.list-kt .m-bd .m-cailiao{margin-bottom:12px;display:inline-block;margin-right:10px}
.list-kt .m-bd .m-tags{width:63px;height:25px;line-height:24px;font-size:14px;color:#333;font-family:PingFang-SC-Regular;border:1px solid #c0c0c0;border-radius:3px;margin:0  10px 10px 0;display:inline-block;text-align:center;cursor:pointer}

.f-bb-e5e5e5{border-bottom:1px solid rgba(229,229,229,.8)}
.f-bt-e5e5e5{border-top:1px solid rgba(229,229,229,.8)}

.foot-buy{line-height:50px;height:50px}
.foot-buy .m-pri{font-size:21px;color:#ff4035;font-family:PingFang-SC-Bold}
.foot-buy .btn-cart{width:150px;line-height:50px;font-family:PingFang-SC-Regular;font-size:16px;color:#fff;height:50px;background:#ff4035;border:0;border-radius:0}
.foot-buy .m-btn{}

.m-cart{right:18px;bottom:32px;width:56px;height:56px}
.m-cart .m-num{display:none}
.m-cart.on .m-num{width:15px;height:15px;line-height:14px;position:absolute;right:3px;top:3px;border-radius:50%;color:#fff;background:#fb4f43;border:1px solid #fff;font-size:8px;display:block;text-align:center}
.m-back{left:18px}
.m-shuaxin{top:34px;right:18px}



.line-2{background:url(../img/bg-line.png) no-repeat;background-size:100% 100%;height:10px;line-height:10px;vertical-align:top}
/*.line-3,.line-3 img{vertical-align:top;font-size:0;line-height:0;width:100%}
.line-3 img{height:10px;float:left;display:none}*/
.line-3{vertical-align:top;font-size:0;line-height:0;height:10px;width:100%;position:relative;margin:0 auto;/*  background:url(../img/bg-line.png) no-repeat 50% 0;background-size:cover;*/}
.line-3 img{float:left;display:none}
.line-3:before,.line-3:after{content:'';position:absolute;background:url(../img/bg-line.png) no-repeat;background-size:cover;width:50%;height:100%;visibility:visible}
.line-3:before{left:0}
.line-3:after{right:0;background-position:right 0}

.list-card{background:#fff;padding:0 10px;position:relative}
.list-card .m-bd .m-tit{font-size:15px;color:#333}
.list-card-0 .m-bd .m-tit{padding:20px 0 12px 0;line-height:15px}
.list-card-0 .m-bd .m-txt{font-size:14px;line-height:14px;color:#333;font-family:PingFang-SC-Regular;padding-bottom:10px}
.list-card:first-child,.list-card-7{border-radius:5px 5px 0 0}
.list-card:last-child,.list-card-4:last-child{border-radius:0 0 5px 5px}
.bb-ras5{border-radius:0 0 5px 5px !important}
.bt-ras5{border-radius:5px 5px 0 0 !important}
.ras5{border-radius:5px !important}
/*.list-card-0 .m-txt{padding-bottom:10px}*/
.list-card-1 .m-bd{line-height:42px;padding-bottom:5px}
.list-card-1 .m-hd .m-txt{font-family:PingFang-SC-Regular;font-size:11px;line-height:11px;color:#666}
.list-card-1 .m-bd .m-txt{font-size:15px;color:#333;font-family:PingFang-SC-Regular}
.list-card .img-user{width:35px;height:35px;border-radius:50%}
.list-card .m-time{font-size:14px;color:#999;font-family:PingFang-SC-Regular;}
.list-card-3{line-height:35px;padding:7px 10px 3px}
.list-card-3-1{padding-bottom:2px}
.list-card-3 .m-hd,.list-card-4 .m-hd{margin-right:10px}
.list-card-4{border-radius:0 !important;padding:10px 0}
.list-card-4 .m-hd a,.list-card-4 .m-hd a img{width:40px;height:40px;display:block;vertical-align:top}
.list-card-4 .m-bd{position:relative;height:40px}
.list-card-4 .m-tit{padding-bottom:12px;line-height:15px}
.list-card-4 .m-pri{font-family:PingFang-SC-Regular;line-height:14px;font-size:14px;color:#FF4035;position:relative}
.list-card-4 .m-pris{position:absolute;top:calc(50% - 13px);right:0}
.list-card-4 .m-pris .m-sum .m-num:after{display:none}
.list-card-4 .m-pris .m-sum .m-num input{text-align:center}
.list-card-4{padding-bottom:9px}
.m-pris .m-tags{width:64px;height:26px;line-height:24px;color:#68d2c4;border:1px solid rgba(104,210,196,.8);border-radius:3px;display:inline-block;text-align:center}
/*下单*/
.list-card-5{}
.list-card-5 .m-bd .m-tit{line-height:14px;font-size:14px;color:#333;padding-bottom:12px}
.list-card-5 .m-txt{line-height:14px;font-size:14px;color:#999;font-family:PingFang-SC-Regular;padding-bottom:9px}
.list-card-5 .m-box-def{padding-top:16px}
.list-card-5 .m-box-def .m-img{width:81px;height:81px}
.list-card-5 .m-box-def .m-tit{padding:15px 0 26px;line-height:14px;font-size:14px;color:#666}
.list-card-5 .cont-keting .m-bd .m-tit{font-size:15px;color:#111}

.swiper-container-1 .swiper-pagination{position:relative;z-index:99;top:auto;bottom:auto;;padding:3px 0 15px;height:5px;line-height:5px;}
.swiper-container-1 .swiper-pagination span{width:12px;height:5px;border-radius:5px;background:#ccc;margin-right:10px;opacity:1;vertical-align:top}
.swiper-container-1 .swiper-pagination span:last-child{margin-right:0}
.swiper-container-1 .swiper-pagination .swiper-pagination-bullet-active{background:#FF4035}

.list-card-6 .m-tit,.list-card-6 .m-txt{line-height:15px;font-size:15px;color:#333}
.list-card-6 .m-tit{padding:10px 0 15px 0}
.list-card-6 .m-tit .m-txt{line-height:inherit}
.list-card-6 .m-txt{line-height:35px;font-family:PingFang-SC-Regular}

.m-rxb{background:url(../img/bg-rexiao.jpg) no-repeat;background-size:100% 100%;height:92px}

.m-rxb-item>ul{margin-right:-10px}
.m-rxb-item .list{border-radius:3px}
.m-rxb-item .list a{position:relative;background:#fff;margin:0 10px 10px 0;display:block;border-radius:3px}
.m-rxb-item .li-c2 .list .a-img{max-height:171px}
.m-rxb-item .list .m-tit{line-height:15px;font-size:15px;color:#111}
.m-rxb-item .list .m-sale{line-height:12px;font-size:12px;color:#999;font-family:PingFang-SC-Regular}
.m-rxb-item .list .m-pri{line-height:13px;font-size:13px;;font-family:PingFang-SC-Regular}
.m-rxb-item .list .m-pri .m-num{line-height:18px;font-size:18px;}
.m-rxb-item .li-c2 .m-tit{padding:12px 0}
.m-rxb-item .li-c2 .m-sale{padding-bottom:12px}
.m-rxb-item .list .m-pri{padding-bottom:15px}
.m-rxb-item .li-c1 .u-txt{position:absolute;bottom:0;left:0;width:100%;line-height:50px;background-color:rgba(0,0,0,.6)}
.m-rxb-item .li-c1 .m-tit{float:left;font-size:18px;line-height:inherit;color:#fff}
.m-rxb-item .li-c1 .m-pri{float:right;float:right;line-height:50px;height:50px;padding-bottom:0}
.m-rxb-item .li-c1 .m-pri .m-num{line-height:inherit}    
.m-rxb-item .li-c1 .list .a-img{max-height:220px}
/*结账*/
.list-card-7{}

.m-tit-3{position:relative;font-family:PingFang-SC-Bold;font-size:16px;line-height:16px;color:#fff;text-align:center;overflow:hidden;padding-top:15px}
.m-tit-3 span{display:inline-block;position:relative}
.m-tit-3 span:before,.m-tit-3 span:after{content:'';position:absolute;width:200%;height:0;border-top:1px dashed  rgba(229,229,229,.8);top:50%}
.m-tit-3 span:before{left:-200%;margin-left:-10px}
.m-tit-3 span:after{left:100%;margin-left:10px}

.btn-zhifu{width:90px;min-height:auto;height:35px;line-height:35px;border-radius:3px;font-size:15px;color:#fff;background:#ff4035;border:0;margin-bottom:21px}


.list-card-7 .m-hd .m-tit{line-height:14px;font-size:14px;color:#333;padding:21px 0 12px}
.list-card-7 .m-hd .m-pri{line-height:18px;font-size:18px;padding-bottom:21px;border-bottom:1px dashed  rgba(229,229,229,.8);font-family:PingFang-SC-Regular}

.m-bd-1{padding:9px 0 3px}
.m-bd-1 li{padding:6px 0}
.m-bd-1 li .m-tit,.m-bd-2 .m-tit{line-height:15px;font-size:15px;color:#333}
.m-bd-1 li .m-tit{line-height:15px;font-size:15px;color:#333}

.m-bd-2{padding:10px 0 20px}
.m-bd-2 .m-tit{font-weight:bolder}
.box-btn{padding-bottom:21px}

.m-bd-3{border-top:1px dashed  rgba(229,229,229,.8);padding-top:5px}
.icon-wx{}

.list-zf{padding:16px 0}
.list-zf a{display:block}
.list-zf .a-img{width:20px;height:20px;margin-right:10px;margin-top:2px}

.list-zf .icon{width:24px;height:24px;;background:url(../img/icon-wxz.png) no-repeat;background-size:contain}
.list-zf.on .icon{background-image:url(../img/icon-xz.png)}
.list-zf:last-of-type{padding-bottom:15px}
.list-card-5 .list-zf .m-tit{line-height:24px;font-size:15px;color:#333;padding:0}
.m-sales{position:absolute;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);display:inline-block;margin:0 auto;font-family:PingFang-SC-Regular;line-height:14px;font-size:14px;color:#666}

.m-tit-1,.m-tit-2{font-family:PingFang-SC-Regular;line-height:18px;font-size:18px;color:#333;padding:21px 0;text-align:center}
.m-tit-2{font-family:PingFang-SC-Bold;padding:21px 0 14px}
.m-tit-2-1{padding-bottom:13px}





.mui-toast-container{left:50%;top:50%;bottom:auto;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.mui-toast-message{background: rgba(255,255,255,.2);}


@media (max-width:360px){}
@media (max-width:320px){}
