<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="link">
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
           <div th:include="top"></div>
           <div th:include="left"></div>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">新建角色</h1>
                </div>
            </div>
            <div class="panel-body">
                  <div class="row">
					<div class="col-lg-6">
					    <form class="" role="form"  method="post" id="editForm">
							<div class="form-group">
						    	<label>名称</label>
								<input type="text" class="form-control" name="name" id="name" placeholder="角色名" maxlength="20">
							</div>
							<div class="form-group">
						    	<label>备注</label>
								<textarea class="form-control" rows="3" name="remark" id="remark"></textarea>
							</div>
				            <button type="button" class="btn btn-primary" id="saveBtn">保存</button>
			            </form>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    
    
    <script>
       $(function(){
    	   $("#saveBtn").click(function(){
    		   var name=$.trim($("#name").val());
    		   if(name==""){
    			   toastr.warning('请填写角色名称');
    			   return false;
    		   }
    		   $.ajax({
    			   url:ctx+'/role/save.do',
    			   type:'POST',
    			   data:$("#editForm").serialize(),
    			   success:function(rsp){
    				   if(rsp.status==200){
    					   toastr.success('保存成功');
    					   location.href=ctx+'/role';
    				   }else{
    					   toastr.warning('服务器繁忙，请稍后再试');
    				   }
    			   }
    		   });
    	   });
       })
    </script>

</body>
</html>
