<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="link">
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
           <div th:include="top"></div>
           <div th:include="left"></div>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" th:if="${obj!=null}">权限分配</h1>
                </div>
            </div>
            <div class="panel-body">
                  <div class="row">
					<div class="col-lg-6">
					    <form class="" role="form"  method="post" id="editForm" th:object="${obj}">
						    <input type="hidden" name="roleId" th:field="*{id}">
							<div class="form-group" th:each="m:${menus}">
						    	<label></label>
						    	<div class="checkbox">
                                     <label>
                                         <input type="checkbox" name="ids" th:value="${m.id}" th:text="${m.name}">
                                     </label>
                                 </div>
							</div>
				            <button type="button" class="btn btn-primary" id="saveBtn">保存</button>
			            </form>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/metisMenu/metisMenu.min.js"></script>
    <script src="/static/dist/js/sb-admin-2.js"></script>
    <script src="/static/toastr/toastr.min.js"></script>
    <script>
       $(function(){
    	   $("#saveBtn").click(function(){
    		   $.ajax({
    			   url:'/role/permission.do',
    			   type:'POST',
    			   data:$("#editForm").serialize(),
    			   success:function(rsp){
    				   if(rsp.status==200){
    					   toastr.success('保存成功');
    					   location.href='/role';
    				   }else{
    					   toastr.warning('服务器繁忙，请稍后再试');
    				   }
    			   }
    		   });
    	   });
       })
    </script>

</body>
</html>
