<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="link">
    <link href="/static/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">

<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div th:include="top"></div>
        <div th:include="left"></div>
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">每日菜品管理中心</h1>
            </div>
        </div>
        <div class="row">
            <div id="datetimepicker" class="col-md-offset-4"></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <ol class="breadcrumb">
                        <li><strong><span style="color: #27a0d7" id="selectDate">所选日期菜单</span></strong></li>
                    </ol>
                    <div class="container" style="width: 100%">
                        <div id="toolbar" class="btn-group">
                            <button type="button" class="btn btn-info btn-sm rightSize" id="editBtn">
                                <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> 编辑菜单
                            </button>
                        </div>
                        <table id="dataTable"></table>
                    </div>
                </div>
            </div>
        </div>
        <!--编辑模块-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">编辑今日菜品</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" method="post" id="modalForm">
                            <div class="categorys form-group" th:each="category:${categoryList}"
                                 th:id="${category.id}">
                                <label th:text="${category.name}"></label>
                                <div class="context form-group"></div>
                            </div>
                            <input type="hidden" id="today" name="today">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="commitBtn">提交</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</div>

<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/metisMenu/metisMenu.min.js"></script>
<script src="/static/dist/js/sb-admin-2.js"></script>
<script src="/static/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/static/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/admin/bootstrptableSetting.js"></script>
<script src="/static/toastr/toastr.min.js"></script>
<script src="/static/toastr/toastr.confirm.js"></script>
<script src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js"></script>


<script>
    var dataTable = null;
    var selectDate = new Date();
    var dailIds = new Array();
    var url = "/daily/listData.do?date=" + selectDate.getTime();
    $("#selectDate").text(formDate(selectDate) + "菜单");
    $("#editBtn").click(function () {
        $.ajax({
            url: '/goods/shelves/list',
            type: 'POST',
            success: function (list) {
                $(".context").children().remove();
                for (var i = 0; i < list.length; i++) {
                    var cId = list[i].category.id;
                    var inArray = $.inArray(list[i].id, dailIds);
                    if (inArray != -1) {
                        $("#" + cId + " .context").append("<input style='margin-left: 10px' checked='true' type='checkbox' name='goodsIds[]' value='" + list[i].id + "'/><label>" + list[i].name + "</label>");
                    } else {
                        $("#" + cId + " .context").append("<input style='margin-left: 10px' type='checkbox' name='goodsIds[]'  value='" + list[i].id + "'/><label>" + list[i].name + "</label>");
                    }
                }
                $("#myModal").modal('show');
            }
        });
    });
    $("#commitBtn").click(function () {
        $("#today").val(selectDate.getTime());
        $.ajax({
            url: '/daily/edit',
            type: 'POST',
            data: $("#modalForm").serialize(),
            success: function (rsp) {
                if (rsp.status == 200) {
                    toastr.success('保存成功');
                    location.href = '/daily';
                } else {
                    toastr.warning('服务器繁忙，请稍后再试');
                }
            }
        })
    });

    function formDate(date) {
        var year = date.getFullYear();  //获取年
        var month = date.getMonth() + 1;    //获取月
        var day = date.getDate(); //获取日
        return year + "-" + month + "-" + day;
    }
    var columns = [
        {
            field: '', title: '菜品', formatter: function (value, row, index) {
            dailIds.push(row.goods.id);
            return '<img src="/common/img/' + row.goods.pic + '/0/" width=80px height=80px>';
        }
        },
        {field: 'goods.name', title: '',},
        {field: 'goods.amount', title: '价格',}]
    $(function () {
        loadTable(url, columns, function (options) {
            options.showRefresh = false;
            dataTable = $('#dataTable').bootstrapTable(options);
        });
    });
    $('#datetimepicker').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 0,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        maxView: 3,
        forceParse: 0,
        showMeridian: 1,
        format: 'yyyy-mm-dd'
    }).on('changeDate', function (ev) {
        selectDate = ev.date;
        dailIds.splice(0, dailIds.length);
        $("#dataTable").children().remove();
        $("#selectDate").text(formDate(selectDate) + "菜单");
        url = "/daily/listData.do?date=" + selectDate.getTime();
        $("#dataTable").bootstrapTable('refresh', {url: url});
    });
</script>

</body>
</html>
